<!-- <header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
</header> -->
<header class="navegador">
    <div class="containerH">
      <div class="itemH logo">
        <img class=""src="img/QR.png" alt="">
      </div>
      <!-- routerLink hace referencia a las paginas (single page) -->
      <a class="itemH" routerLink ="home">Acerca de</a>
      <a class="itemH" routerLink = "register">Registro</a>
      <!-- <a class="itemH" href="#">Descubre</a> -->
    </div>
</header>
<header class="mobile">
    <div class="containerH">
      <div class="itemH logo">
        <img class=""src="img/QR.png" alt="">
      </div>
      <a class="itemH" href="#">:</a>
    </div>
</header>
