<!--Main Navigation-->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light" mdbWavesEffect routerLink = "home"><strong>MXPAYS</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink ="home">Acerca de<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink = "register">Registro</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" href="#">Iniciar sesión</a>
                </li>
            </ul>
            <form class="form-inline waves-light" mdbWavesEffect>
                <div class="md-form mt-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </links>
    </mdb-navbar>
  </header>
<!-- ------------------------ -->
<!-- <div class="container">
  <a class="navbar-brand" href="#">
    <strong>MDB</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
    </ul>
    <form class="form-inline">
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
</div>
</nav> -->
<!-- Full Page Intro -->
<!-- <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;"> -->
<!-- Mask & flexbox options-->
<!-- <div class="mask rgba-gradient d-flex justify-content-center align-items-center"> -->
<!-- </div> -->
<!-- Mask & flexbox options-->
<!-- </div> -->
<!-- Full Page Intro -->
<!-- </header> -->
<!-- Main navigation -->
